In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
zeros = np.zeros((7,7))
zeros

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [3]:
df = pd.DataFrame(zeros, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G'], index=['A', 'B', 'C', 'D', 'E', 'F', 'G'])
df

     A    B    C    D    E    F    G
A  0.0  0.0  0.0  0.0  0.0  0.0  0.0
B  0.0  0.0  0.0  0.0  0.0  0.0  0.0
C  0.0  0.0  0.0  0.0  0.0  0.0  0.0
D  0.0  0.0  0.0  0.0  0.0  0.0  0.0
E  0.0  0.0  0.0  0.0  0.0  0.0  0.0
F  0.0  0.0  0.0  0.0  0.0  0.0  0.0
G  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [4]:
with open ("Cookbook3.csv") as csvfile:
    readCsv = csv.reader(csvfile, delimiter=',')
    for row in readCsv:
        df.at[row[0], row[1]] = row[2]
        df.at[row[1], row[0]] = row[2]
df

      A      B      C      D      E      F      G
A   0.0   20.0   30.0   40.0   50.0   60.0   70.0
B  20.0    0.0   80.0   90.0  100.0  110.0  120.0
C  30.0   80.0    0.0  130.0  140.0  150.0  160.0
D  40.0   90.0  130.0    0.0  170.0  180.0  190.0
E  50.0  100.0  140.0  170.0    0.0  200.0  210.0
F  60.0  110.0  150.0  180.0  200.0    0.0  220.0
G  70.0  120.0  160.0  190.0  210.0  220.0    0.0

In [5]:
# iloc allows you to access data with positions of the row or column indexes
# iloc[:,3] gets the fourth row of the dataframe despite the label being 'D'
iloc = df.iloc[3,:]
iloc

A     40.0
B     90.0
C    130.0
D      0.0
E    170.0
F    180.0
G    190.0
Name: D, dtype: float64

In [6]:
# loc allows you to access data with assigned index labels for row or columns
# loc[:,D] gets the sixth row of the dataframe
loc = df.loc[:,'F']
loc

A     60.0
B    110.0
C    150.0
D    180.0
E    200.0
F      0.0
G    220.0
Name: F, dtype: float64

In [7]:
# Slicing example
# slicer gets the last row of the table
slicer = df[-1:]
slicer

      A      B      C      D      E      F    G
G  70.0  120.0  160.0  190.0  210.0  220.0  0.0

In [8]:
# Compute the averages of the rows
max_average = max(df.mean(axis=1))
higher_average = []
sums = df.sum(axis=1)
for row in range(len(df.index)):
    if sums[row] > max_average:
        print("Row", row, "has a sum of", sums[row], "which is greater than the max average of", max_average)

Row 0 has a sum of 270.0 which is greater than the max average of 138.57142857142858
Row 1 has a sum of 520.0 which is greater than the max average of 138.57142857142858
Row 2 has a sum of 690.0 which is greater than the max average of 138.57142857142858
Row 3 has a sum of 800.0 which is greater than the max average of 138.57142857142858
Row 4 has a sum of 870.0 which is greater than the max average of 138.57142857142858
Row 5 has a sum of 920.0 which is greater than the max average of 138.57142857142858
Row 6 has a sum of 970.0 which is greater than the max average of 138.57142857142858

In [9]:
row_d = df.loc['D',:]
row_d
squared_row_d_for = []
for i in row_d:
    squared_row_d_for.append(i**2)
print("Squared row D using for loops", squared_row_d_for)
squared_row_d_list_comp = [i**2 for i in row_d]
print("Squared row D using list comprehension", squared_row_d_list_comp)

Squared row D using for loops [1600.0, 8100.0, 16900.0, 0.0, 28900.0, 32400.0, 36100.0]
Squared row D using list comprehension [1600.0, 8100.0, 16900.0, 0.0, 28900.0, 32400.0, 36100.0]